<!--                                           -->
<!-- DCC ETL2 Workflow - Logging configuration -->
<!--                                           -->
<configuration debug="false">
  <property name="log.dir" value="."/>
  <property name="log.name" value="dcc-release" />
  <property name="log.debug.name" value="dcc-release.debug" />
  <property name="pattern" value="%date{ISO8601} [%thread] %-5level %logger{20} - %msg%n" />

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${log.dir}/${log.name}.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${log.name}.%d{yyyy-MM-dd}.%d{HHmmss,aux}.log</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="org.icgc.dcc.release.client.util.CustomStartupTriggeringPolicy"></timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>

  <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${log.dir}/${log.debug.name}.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${log.debug.name}.%d{yyyy-MM-dd}.%d{HHmmss,aux}.log</FileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="org.icgc.dcc.release.client.util.CustomStartupTriggeringPolicy"></timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>

  <logger name="akka" level="info" additivity="false">
    <appender-ref ref="DEBUG" />
  </logger>
  <logger name="org.eclipse.jetty" level="info" additivity="false">
    <appender-ref ref="DEBUG" />
  </logger>
  <logger name="org.apache.spark" level="info" additivity="false">
    <appender-ref ref="DEBUG" />
  </logger>
  <logger name="org.apache.hadoop.mapred.FileInputFormat" level="info" additivity="false">
    <appender-ref ref="DEBUG" />
  </logger>
  <logger name="org.apache.hadoop.net.NetworkTopology" level="info" additivity="false">
    <appender-ref ref="DEBUG" />
  </logger>
  <logger name="org.apache.hadoop.util.NativeCodeLoader" level="info" additivity="false">
    <appender-ref ref="DEBUG" />
  </logger>

  <root level="info">
    <appender-ref ref="DEBUG" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
