<configuration debug="false">
  <property name="pattern" value="%date{ISO8601} [%thread] %-5level %logger{20} - %msg%n" />

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>

  <!-- Disable -->
  <logger name="org.apache.hadoop.metrics.MetricsUtil" level="OFF" />

  <!-- Lessen -->
  <logger name="akka" level="WARN" />
  <logger name="org.eclipse.jetty" level="WARN" />
  <logger name="org.apache.spark" level="WARN" />

  <!-- Lessen more -->
  <logger name="org.mortbay" level="ERROR" />
  <logger name="org.apache.zookeeper" level="ERROR" />
  <logger name="org.apache.hadoop" level="ERROR" />

  <!-- Turn up -->
  <logger name="org.apache.hadoop.hbase.mapreduce.HFileOutputFormat" level="INFO" />
  <logger name="org.apache.hadoop.hbase.mapreduce.LoadIncrementalHFiles" level="INFO" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
